:root{

    --main-bg-color: #eff5fe;
    --drop-zone-color: #0288d147;
}

body, html{
    font-family: system-ui;
    background-color: var(--main-bg-color);
    margin: 0;
    padding: 0;
    height: 100%;
}

body, .drop-zone{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.upload-Container{
    background-color: #ffffff;
    border-radius: 25px;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.143);
}

.drop-zone{
    width: 500px;
    min-height: 250px; 
    border: dashed 2px var(--drop-zone-color);
    margin: 30px;
    border-radius: 10px;
    transition: all .2s ease;
}

.dragged.drop-zone{
    background-color: var(--main-bg-color);
    border-color: blue;
}

.icons{
    width: 75px;
    position: relative;
    height: 100px;
}


.icons img{
    width: 75px;
    position: absolute; 
    transform-origin: bottom;
    transition: transform 230ms ease-in-out ;
}

.center{
z-index: 2;
}

.icons .right, .icons .left{
    filter: grayscale(.5);
    transform: scale(.9);
}
.dragged .icons .right{
    transform: rotate(10deg) translateX(20px) scale(.9);
}

.dragged .icons .left{
    transform: rotate(-10deg) translateX(-20px) scale(.9);
}

.dragged .icons .center{
    transform: translateY(-5px);
}

.fileInput{
    display: none;
}

.browse{
    color: blue;
    cursor: pointer;
}